<div class='users-index'>
  <div class='index-elements'>
    <h3 class='border-bottom'>ユーザー一覧</h3>
    <!-- TODO: ユーザー情報表示で下記コードで表現にしたがSCSSでの変更も検討する -->
    <div class='users-index-item'>
      <% @users.each do |user| %>
        <div class='card'>
          <div class='card-body'>
            <div class='pull-left img-thumbnail'>
              <% if user.profile_image.blank? %>
                <%= image_tag "/user_images/default_user.jpg", :size => "100x100" %>
              <% else %>
                <%= image_tag user.profile_image.thumb200.url %>
              <% end %>
            </div>
            <br>
            <h3 class='text-center'>
              <%= link_to(user.name, "/users/#{user.id}") %>
            </h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>