<div class='users-index'>
  <div class='index-elements'>
    <h4 class='border-bottom'>ユーザー一覧</h4>
    <% @users.each do |user| %>
      <div class='users-index-item'>
        <div class='user-left'>
          <% if user.profile_image.blank? %>
            <%= image_tag "/user_images/default_user.jpg" %>
          <% else %>
            <%= image_tag user.profile_image.url %>
          <% end %>
        </div>
        <div class='user-right'>
          <%= link_to(user.name, "/users/#{user.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>