<div class='users-index'>
  <div class='elements'>
    <h1 class='users-heading'>ユーザー一覧</h1>
    <button type="button" class="btn btn-primary">Primary</button>
    <% @users.each do |user| %>
      <div class='users-index-item'>
        <div class='user-left'>
          <img src="<%= "/user_images/#{user.profile_image}" %>">
        </div>
        <div class='user-right'>
          <%= link_to(user.name, "/users/#{user.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div></div>
<h1></h1>
<ul>
  <li></li>
  <li></li>
  <li></li>
</ul>