<div class='users-show'>
  <div class='elements'>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="#!"><%= "#{@user.name}さんの投稿写真一覧" %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!">いいね！した数</a>
      </li>
    </ul>
    <div class='user-likes-photo'>
      <!-- #TODO: いいね！した画像をリンクさせる -->
    </div>
  </div>
</div>