<div class='main users-login_form'>
  <div class='elements'>
    <div class='form-heading'>ユーザーログイン</div>
    <!-- #TODO: class名は変更の可能性あり -->
    <div class='users-box'>
      <%= form_tag("/login") do %>
        <p>ユーザーログイン</p>
        <input name='name' value="<%= @name %>">
        <p>パスワード</p>
        <input type='password' name='password' value="<%= @password %>">
        <button type='button' class='btn btn-primary btn-lg'>ログイン</button>
      <% end %>
    </div>
  </div>
</div>