<div class='users-show'>
	<div class='container'>
		<div class='user-heading-show'>
			<%= "<#{@user.name}さんの投稿写真一覧>" %>
		</div>
		<div class='user-show-photo'>
			<!-- #TODO: 投稿画像をリンクさせる -->
		</div>
	</div>
</div>