<div class="main-container">
  <!-- TODO: 画像を背景として前面に表示させたいがCSSがきかない -->
  <div class="top-message">
    <div class='display-1 text-warning'>レインボーフィッシュへようこそ</div>
    <h1 class='text-warning mt-5'>トイカメラ、レインボーフィッシュを使って写真を投稿しよう！</h1>
  </div>
</div>
