<%= stylesheet_link_tag "home", :media => "all" %>

<div class="main-container">
  <div class="top-message text-center text-warning">
    <div class='display-2'>レインボーフィッシュへようこそ</div>
    <h3 class='mt-5'>トイカメラ、レインボーフィッシュを使って写真を投稿しよう！</h3>
  </div>
</div>
