<div class='photos-destroy_form'>
  <div class="card">
    <div class="card-body">
      <div class="btn btn-danger btn-lg btn-block">
        写真を削除しますか？
      </div>
    </div>
    <div class="card-body text-center">
      <button class="btn btn-outline-secondary btn-lg center-block">
        <%= link_to('はい', "/photos/#{@photo.id}",{method: "delete"}) %>
      </button>
      <button class="btn btn-outline-secondary btn-lg center-block">
        <%= link_to('いいえ', "/photos") %>
      </button>
    </div>
  </div>
</div>
