<div class='photos-index'>
 <div class='photos-elements'>
  <h4 class="border-bottom border-dark">投稿写真一覧</h4>
  <% @photos.each do |photo| %>
    <%= image_tag photo.image.url %>
  <% end %>
 </div>
</div>