<!-- 新規投稿が成功するとphotos#indexに飛ぶ -->
<div class='Photos-new'>
  <h4 class="border-bottom border-dark">新規投稿</h4>
  <div class='new-elements'>
  <%= form_for @photo do |p| %>
    <div class='form-group'>
      <P>写真</P>
      <%= p.file_field :image %>
    </div>
      <%= p.submit %>
  <% end %>
  </div>
</div>
