<!-- 新規投稿が成功するとphotos#indexに飛ぶ -->
<div class='Photos-new'>
  <h4 class="border-bottom border-dark">新規投稿</h4>
  <div class='new-elements'>
   <%= form_for @photo do |photo| %>
    <div class='form-group'>
      <%#= p.label :name, 'タイトル' %>
      <%#= p.text_field :title, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%#= p.label :name, 'コメント' %>
      <%#= p.text_area :photo_comment, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%#= p.label :name, 'RGB設定' %>
      <br>
      <%#= p.select :rgb,[['R', 'R'], ['G', 'G'], ['B', 'B'], ['その他', 'その他']] %>
    </div>
    <div class='form-group'>
      <p>写真</p>
      <br>
      <%= photo.file_field :image %>
    </div>
    <div class='form-group'>
      <%#= p.label :name, 'タグ（仮）' %>
      <%#= p.text_field :title, class: 'form-control' %>
    </div>
    <%= photo.submit %>
   <% end %>
  </div>
</div>
