// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-container {
  background-image: url("/home_images/top.jpg");
  height: 800px;
  background-size: cover;
}

.top-message {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

